<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DashSearch</servlet-name>
        <servlet-class>stockTrading.Controller.DashSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>stockTrading.Controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>stockTrading.Controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>stockTrading.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>stockTrading.Controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuySharesServlet</servlet-name>
        <servlet-class>stockTrading.Controller.BuySharesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyStocksServlet</servlet-name>
        <servlet-class>stockTrading.Controller.BuyStocksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellServlet</servlet-name>
        <servlet-class>stockTrading.Controller.SellServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellStocksServlet</servlet-name>
        <servlet-class>stockTrading.Controller.SellStocksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashSearch</servlet-name>
        <url-pattern>/DashSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/BuyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuySharesServlet</servlet-name>
        <url-pattern>/BuySharesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyStocksServlet</servlet-name>
        <url-pattern>/BuyStocksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellServlet</servlet-name>
        <url-pattern>/SellServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellStocksServlet</servlet-name>
        <url-pattern>/SellStocksServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
